@font-face {
    font-family:'Montserrat';
    src: url(/Montserrat-Thin.ttf);
}

*{
  font-family:'Montserrat';
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}


html, body {
  margin:0;
  background-color: rgb(224,224,224);
  max-height: 3000px;
}

.top-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  height: 80px;
  padding: 1em;
  z-index: 999;
  background-color: rgb(224,224,224);
  
  .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      h2 a{
        font-size:23px;
        margin-left: 20px;
        text-decoration: none;
        color:black;
        &:hover{
          color: gray;
        }
      }
  }
  
  
  .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        width:80px;
        text-decoration:none;
        color:black;
        font-size: 1.2rem;
        font-weight: 600;
        transition: color 0.2s ease-in-out;
        margin-left: 10px;
        &:hover {
        color:gray;
        }
    }
  }
  
  .menu > li {
      margin: 0 0.4rem;
      overflow: hidden;
  }
  
  .menu-button-container {
      display: none;
      height: 100%;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  #menu-toggle {
      display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
      display: block;
      background-color: black;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
  }
  
  .menu-button::before {
      content: '';
      margin-top: -8px;
  }
  
  .menu-button::after {
      content: '';
      margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(237, 235, 235, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-45deg);
  }
  }  
@media (max-width: 800px) {
  .top-nav{
  div.logo{
      height: 100px;
  }
  .menu-button-container {
    display: flex;
    z-index: 999;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    z-index: 999;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(224,224,224);
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    height: 50px;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .slider-container {
    height: 400px;
  }
  }
}
  
.slider-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin-top:-70px;


.slider-wrapper {
  position: absolute;
  width: calc(100% * 5);
  height: 100%;
  display: flex;
  transition: transform 1s ease;
}

.slider-img {
  width: calc(100% / 5);
  height: 100%;
  object-fit: cover;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.slider-button:hover {
  opacity: 1;
}

.slider-button-left {
  left: 0;
}

.slider-button-right {
  right: 0;
}
}
@media (max-width: 767px) {
    .slider-container {
      height: 300px;
    }
    
    .slider-wrapper {
      width: calc(100% * 5);
      flex-direction: row;
    }
    
    .slider-img {
      width: calc(100% / 2);
      height: 100%;
    }
  }
  
 
@media (min-width: 768px) and (max-width: 991px) {
    .slider-container {
      height: 400px;
    }
    
    .slider-wrapper {
      width: calc(100% * 5);
      flex-direction: row;
    }
    
    .slider-img {
      width: calc(100% / 3);
      height: 100%;
    }
  }




section.products{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    .heading{
        width: 100%;
        text-align: center;
        color: black;
        font-size: 52px;
        margin-bottom: 5%;
    }
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
        .product-item {
          background-color: rgb(224,224,224);
          border-radius: 10px;
          width: 300px;
          height: 420px;
          margin: 20px;
          border: 1px black solid;
          color:black;
          button.half-red-transparent {
            width:60%;
            height: 50px;
            background: rgb(224,224,224);
            border: 1px black solid;
            color: black;
            font-size: 16px;
            font-weight: bold;
            transition:  0.3s linear ;
            border-radius: 10px;
          }
          .half-red-transparent:hover {
            cursor: pointer;
            background: #DB3138;
            
          }
          .product-image {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
            img {
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          
          .product-description {
            width: 100%;
            text-align: center;
            h3 {
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 10px;
              background-color: #DB3138;
              color:white;
            }
            p {
              font-weight: bold;
              height: 90px;
              width: 100%;
              display: inline-block;
              font-size: 16px;
             
            }
            .price{
              
              font-size: 22px;
              font-weight: bold;
              color: #FF1414;
            }
          }
        }
    }
}    
        

section.services{
    text-align: center;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    p.text{
        margin: 7% 0 10% 0;
        color: black;
        font-size:24px;
    }
    a{
        color:black;
        font-size: 16px;
        text-decoration: none;

    }
    .heading{
      width: 100%;
        text-align: center;
        color: black;
        font-size: 52px;
        margin-bottom: 5%;
       
    }
    div.container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
    }
    .rectOne, .rectTwo, .rectThree, .rectFour{
       background-color: rgb(224,224,224);
          border-radius: 10px;
          width: 300px;
          height: 420px;
          margin-bottom: 20px;
      
          color:black;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        .imgg{
            background-size: cover;
            background-image: url("Картинка1.png");
            width: 50%;
            height: 35%;
             border-radius: 10px;
           
        }
        .imggTwo{
            background-size: cover;
            background-image: url("Картинка2.png");
            width: 50%;
            height: 35%;
             border-radius: 10px;
        }
        .imggFour{
            background-size: cover;
            background-image: url("Картинка3.png");
            width: 50%;
            height: 35%;
             border-radius: 10px;
        }
        .imggThree{
            background-size: cover;
            background-image: url("Картинка4.png");
            width: 50%;
            height: 35%;
             border-radius: 10px;
        }
        button.half-red-transparent {
            width:60%;
            height: 50px;
            background: rgb(224,224,224);
            border: 1px black solid;
            color: white;
            font-size: 16px;
            font-weight: bold;
            transition:  0.3s linear ;
            border-radius: 10px;
          }
          .half-red-transparent:hover {
            cursor: pointer;
            background: #DB3138;
            
          }
}
}




footer{
  font-weight: bold;
  margin-top: 50px;
  font-size: 24px;
  .footer{
    border-top:2px black solid;
      padding:30px 0px;
      text-align:center;
      }
      
       .row{
      width:100%;
      margin:1% 0%;
      padding:0.6% 0%;
      color:black;
      font-size:0.8em;
      }
      
      .row a{
      text-decoration:none;
      color:black;
      transition:0.5s;
      }
      
      .row a:hover{
        color: rgb(81, 81, 81);
      }
      
       .row ul{
      width:100%;
      }
      
      .row ul li{
      display:inline-block;
      margin:0px 30px;
      }
      
       .row a i{
      font-size:2em;
      margin:0% 1%;
      }
      
      @media (max-width:720px){
      .footer{
      text-align:left;
      padding:5%;
      }
      .footer .row ul li{
      display:block;
      margin:10px 0px;
      text-align:left;
      }
      .footer .row a i{
      margin:0% 3%;
      }
      }
  }
